List of keywords to delete :

* plsregression - regression
* adaline - classification
* perceptron - classification

List of notebooks to delete :
* habibmrad1983/awesome-cv-with-fashion-mnist-classification - affinity propagation - clustering
* evandrodinizphb/nlp-suicidal-pytorch-bert-kfold - self organising map - clustering
* habibmrad1983/awesome-ml-frameworks-and-mnist-classification - fcm - clustering
* Clustering notebooks where classification figure in title and visversa
* Clustering notebooks where regression figure in title and visversa
* Classification notebooks where regression figure in title and visversa

In [1]:
import pandas as pd
import re

In [2]:
list_ntb = pd.read_csv("../data/ntb_list.csv").drop(['Unnamed: 0'],axis=1)
list_ntb

,title,subcategory,category
0,sudhirnl7/linear-regression-tutorial,linear regression,regression
1,goyalshalini93/car-price-prediction-linear-reg...,linear regression,regression
2,divan0/multiple-linear-regression,linear regression,regression
3,anthonypino/price-analysis-and-linear-regression,linear regression,regression
4,vivinbarath/simple-linear-regression-for-salar...,linear regression,regression
...,...,...,...
10458,fanbyprinciple/reinforcement-learning-on-opena...,reinforcement,reinforcement learning
10459,alexisbcook/exercise-one-step-lookahead,reinforcement,reinforcement learning
10460,alexisbcook/exercise-interactive-maps,reinforcement,reinforcement learning
10461,lbarbosa/connectx-deep-reinforcement-learning,reinforcement,reinforcement learning
10462,hsperr/halite-iv-dqn-example-pytorch,reinforcement,reinforcement learning

In [3]:
data = pd.read_csv("../data/cleaned_ntb_only_en.csv").drop(['Unnamed: 0'],axis=1)
data

,cell-type,source,title,tag
0,code,import pandas as pd\nimport numpy as np\nimpor...,0-9-try-better-parameters-better-score.ipynb,regression
1,markdown,try to overfit more pls upvote if you forklike...,0-9-try-better-parameters-better-score.ipynb,regression
2,markdown,sub1 0869,0-9-try-better-parameters-better-score.ipynb,regression
3,markdown,credit very simple code with score 0886 by aya...,0-9-try-better-parameters-better-score.ipynb,regression
4,code,import pandas as pd\nimport numpy as np\nfrom ...,0-9-try-better-parameters-better-score.ipynb,regression
...,...,...,...,...
343588,code,"\nPOI_data = gpd.read_file(""../input/geospatia...",your-first-map.ipynb,reinforcement learning
343589,markdown,next we create a map from all four geodatafram...,your-first-map.ipynb,reinforcement learning
343590,code,"\nax = counties.plot(figsize=(10,10), color='n...",your-first-map.ipynb,reinforcement learning
343591,markdown,it looks like the northeastern part of the sta...,your-first-map.ipynb,reinforcement learning
343592,markdown,have questions or comments visit the course di...,your-first-map.ipynb,reinforcement learning

# Deleting by subcategory

In [4]:
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'adaline'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'perceptron'], inplace=True)

In [5]:
list_ntb

,title,subcategory,category
0,sudhirnl7/linear-regression-tutorial,linear regression,regression
1,goyalshalini93/car-price-prediction-linear-reg...,linear regression,regression
2,divan0/multiple-linear-regression,linear regression,regression
3,anthonypino/price-analysis-and-linear-regression,linear regression,regression
4,vivinbarath/simple-linear-regression-for-salar...,linear regression,regression
...,...,...,...
10458,fanbyprinciple/reinforcement-learning-on-opena...,reinforcement,reinforcement learning
10459,alexisbcook/exercise-one-step-lookahead,reinforcement,reinforcement learning
10460,alexisbcook/exercise-interactive-maps,reinforcement,reinforcement learning
10461,lbarbosa/connectx-deep-reinforcement-learning,reinforcement,reinforcement learning
10462,hsperr/halite-iv-dqn-example-pytorch,reinforcement,reinforcement learning

# Deleting irrelivant notebooks

In [6]:
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)

In [7]:
list_ntb[list_ntb['title'] == 'habibmrad1983/awesome-cv-with-fashion-mnist-classification']

,title,subcategory,category
3290,habibmrad1983/awesome-cv-with-fashion-mnist-cl...,affinity propagation,clustering
7137,habibmrad1983/awesome-cv-with-fashion-mnist-cl...,deeplab,computer vision

In [8]:
list_ntb.drop(index =3290,inplace=True)

In [9]:
list_ntb[list_ntb['title'] == 'evandrodinizphb/nlp-suicidal-pytorch-bert-kfold']

,title,subcategory,category
3308,evandrodinizphb/nlp-suicidal-pytorch-bert-kfold,self organising map,clustering

In [10]:
list_ntb.drop(index =3308,inplace=True)

In [11]:
list_ntb[list_ntb['title'] == 'habibmrad1983/awesome-ml-frameworks-and-mnist-classification']

,title,subcategory,category
3313,habibmrad1983/awesome-ml-frameworks-and-mnist-...,self organising map,clustering
3459,habibmrad1983/awesome-ml-frameworks-and-mnist-...,fcm,clustering

In [12]:
list_ntb.drop(index =3459,inplace=True)

- Remove Clustering notebooks where Classification figure in title and visversa
- Remove Clustering notebooks where Regression figure in title and visversa
- Remove Classification notebooks where Regression figure in title and visversa

In [13]:
def remove_ntb(classe1,classe2,list_ntb,data) :
    df1 = list_ntb[list_ntb['category'] == classe1] 
    List_to_delete_1 = []
    for i in df1.index:
        if classe1 in df1.loc[i]['title'] and classe2 in df1.loc[i]['title']:
            List_to_delete_1.append(df1.loc[i]['title'])

    df2 = list_ntb[list_ntb['category'] == 'classe2'] 
    List_to_delete_2 = []
    for i in df2.index:
        if classe1 in df2.loc[i]['title'] and classe2 in df2.loc[i]['title']:
            List_to_delete_2.append(df2.loc[i]['title'])

    for i in list_ntb.index:
        if list_ntb.loc[i]['title'] in List_to_delete_1 or list_ntb.loc[i]['title'] in List_to_delete_2 :
            list_ntb.drop(index = i,inplace=True)

    final_list = []
    for i in list_ntb.index:
        final_list.append(re.sub("^[^/]*/",'',list_ntb.loc[i]['title'])+".ipynb")


    count_1 = 0
    count_2 = 0

    for i in data.index:
        if data.loc[i]['title'] in final_list:
            count_1 +=1
        else :
            data.drop(index = i,inplace=True)
            count_2 +=1

    print("Number of Removed cells :",count_2)
    print("Removed notebooks \n ",List_to_delete_1 +List_to_delete_2)

In [14]:
data.shape

(343593, 4)

In [15]:
remove_ntb('clustering','classification',list_ntb,data)
print("-----------------------------------------------")
remove_ntb('clustering','regression',list_ntb,data)
print("-----------------------------------------------")
remove_ntb('regression','classification',list_ntb,data)

Number of Removed cells : 20907
Removed notebooks
  ['dreamslab/eda-classification-and-clustering-diagnostic', 'abinayaravi/seeds-data-clustering-and-classification', 'yoghurtpatil/clustering-and-classification-on-student-data', 'naim99/image-classification-clustering-step-by-step', 'bulentsiyah/comparing-classification-clustering-regression-ml', 'caesarmario/iris-eda-classification-and-clustering', 'aryantyagi19/customer-analysis-clustering-and-classification', 'vigneshprakash/red-wine-data-eda-clustering-and-classification', 'yashikachugh/eda-clustering-classification']
-----------------------------------------------
Number of Removed cells : 90
Removed notebooks
  ['minc33/k-means-clustering-vs-logistic-regression', 'jamesdonconley/clustering-improves-logistic-regression']
-----------------------------------------------
Number of Removed cells : 0
Removed notebooks
  []

In [16]:
data.shape

(322596, 4)